/* src/components/MainContent/Navbar.css */

.navbar {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--jet);
}

.navbar-link {
  color: var(--light-gray);
  font-size: 14px;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  background: none;
  border: none;
  font-family: inherit;
}

.navbar-link:hover {
  color: var(--orange-yellow-crayola);
}

.navbar-link.active {
  color: var(--orange-yellow-crayola);
}

.navbar-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--text-gradient-yellow);
  border-radius: 3px 3px 0 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }
}


